/pwm_atari/ckpt/
/pwm_atari/eval_result/
/pwm_atari/wandb/
/pwm_atari/__pycache__/
/pwm_atari/modules/__pycache__/
/pwm_atari/modules/rwkv7/__pycache__/
/parawm_mujoco/ckpt/
/parawm_mujoco/eval_result/
/parawm_mujoco/wandb/
/parawm_mujoco/__pycache__/
/parawm_mujoco/modules/__pycache__/
/parawm_mujoco/modules/rwkv7/__pycache__/
/Detailed_analyze
/pwm_atari/scripts/
/pwm_atari/reference/
/pwm_atari/modules/rwkv7/__pycache__
/pwm_atari/run_crazyclimber_jacobian.sh
pwm_atari/modules/rwkv7/__pycache__/
pwm_atari/modules/rwkv6/__pycache__/
/pwm_atari/drift_results
